@(accessToken: String, db: String, targetId: String, targetDs: String)(implicit config: play.api.Configuration)
    @main(s"${config.get[String]("app.title")}") {
        <div id="entrypoint"></div>
        <script>
                BrowserWidget.renderInto("@config.get[String]("app.apiHost")", "@accessToken", "", "", "", "@db", "", "@targetId", "@targetDs");
        </script>
    }