@import play.twirl.api.Html
@(accessToken: String, db: String, version: Option[String], searchQuery: Option[String], x: String, y: String, pres: Option[String], height: Int)(implicit config: play.api.Configuration)
@main(s"${config.get[String]("app.title")}") {
    <div id="entrypoint"></div>
    <script>
            @*Note: @Html(...) is used to Html decode*@
            GraphWidget.renderInto("@config.get[String]("app.apiHost")", "@accessToken", "", "", "", "@db", "@version.getOrElse("")", "@searchQuery.getOrElse("")", "@Html(x)", "@Html(y)", "@pres.getOrElse("linear")", @height);
    </script>
}