@(version: String)(implicit config: play.api.Configuration)

@main(config.get[String]("app.title")) {
    <h3>CBF widgets</h3>
    <p>(@version)</p>
    <div>
        <span>Some useful links:</span>
        <ul>
            <li><a href="@routes.WidgetController.launcher()">Launcher</a></li>
            <li><a href="https://gitlab.com/uit-sfb/cbf">Gitlab</a></li>
            <li><a href="@config.get[String]("app.apiHost")">API endpoint</a></li>
        </ul>
    </div>
}
