@(accessToken: String)(implicit config: play.api.Configuration, requestHeader: RequestHeader)
    @main(s"${config.get[String]("app.title")}") {
        <div id="entrypoint"></div>
        <script>
                LauncherWidget.renderInto("@config.get[String]("app.apiHost")", "@accessToken", "", "", "");
        </script>
    }