@(accessToken: String, db: String, version: Option[String], searchQuery: Option[String], attr: Option[String], center: String, zoom: Int, height: Int)(implicit config: play.api.Configuration)
@main(s"${config.get[String]("app.title")}") {
    <div id="entrypoint"></div>
    <script>
            MapWidget.renderInto("@config.get[String]("app.apiHost")", "@accessToken", "", "", "", "@db", "@version.getOrElse("")", "@searchQuery.getOrElse("")", "@attr.getOrElse("")", "@center", @zoom, @height);
    </script>
}