@(accessToken: String, db: String, version: Option[String], id: String)(implicit config: play.api.Configuration)
@main(s"${config.get[String]("app.title")} -- $id") {
    <div id="entrypoint"></div>
    <script>
            RecordWidget.renderInto("@config.get[String]("app.apiHost")", "@accessToken", "", "", "", "@db", "@version.getOrElse("")", "@id");
            new JsonldScript("@config.get[String]("app.apiHost")", "@accessToken", "@db", "@version.getOrElse("")", "@id").add;
    </script>
}