@(accessToken: String, db: String)(implicit config: play.api.Configuration)

@main(s"${config.get[String]("app.title")}") {
    <div id="entrypoint"></div>
    <script>
            @*Note: @Html(...) is used to Html decode*@
            SettingsWidget.renderInto("@config.get[String]("app.apiHost")", "@accessToken", "", "", "", "@db");
    </script>
}