.selected {
    border-style: inset;
    border-color: #007BFF;
    border-width: 5px;
}

.content_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

span.with_overlay {
    cursor: pointer;
}

.tooltip-inner {
    text-align: left;
}

div.noPadding {
    padding-left: 0;
    padding-right: 0;
}

.highlighted {
    stroke: #202020;
    stroke-opacity: 50%;
    stroke-width: 10px;
}

.icon {
    height: 20px;
    width: 20px;
}

svg {
    max-height: 80vh;
}

a .img-link {
    transition: opacity .15s;
    background: 0;
}

a .img-link:hover {
    border-radius: 8px;
    filter: brightness(95%);
    box-shadow: 0 0 5px #b8b6b7;
}

a .button {
    width: 100px;
}

div .overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;
}

div .overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 24px;
    color: white;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 10px;
}

.fixed-bottom {
    position: fixed;
    bottom: 10px;
    left: 15px;
}


element.style {
}

.table-light tbody + tbody, .table-light td, .table-light th, .table-light thead th {
    border-color: #fbfcfc;
}

.table-bordered td, .table-bordered th {
    border: 1px solid #dee2e6;
}

.table-sm td, .table-sm th {
    padding: .3rem;
}

.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

*, ::after, ::before {
    box-sizing: border-box;
}

table.table-hover > tbody > tr {
    cursor: pointer;
}

ul {
    padding-inline-start: 20px;
}

.small-font * {
    font-size: 95%;
}